* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body { 
    background-color: #006aa7;
}


.app {
    background: rgb(254, 204, 0, 0.9);
    max-width: 500px;
    max-height: 600px;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto;  
}
.app h2 {
    font-weight: normal;
    color: #134e6f;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
    text-align: center;
}
#start-btn {
    height: 30px;
    width: 70px;
    border-radius: 5px;
}
#username-input, #password-input {
    height: 30px;
    background-color: aliceblue;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 10px;
}


.quiz, .result {
    padding: 10px 0;
}
.quiz h3, .result h3 {
    color: #006aa7;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}
#quiz-section{
    margin: auto;
}
#answerbtn {
    margin-left: 0;
}
#feedback-img {
    width: 50px;
    height: 50px;
    padding: 0;
}

.btn {
    background: #c1d7e5;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto 5px;
    padding: 10px;
    cursor: pointer;
}
#nextbtn, #restart-btn {
    width: 120px;
    height: 35px;
    background: #3867d6;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px auto 0;
    display: none;
}
#start-btn:hover, #nextbtn:hover, #restart-btn:hover {
    background-color: #0065b3;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #b3c7dd;
    transition: background-color 0.3s ease ;
}
#result-text{
    text-align: center;
}
#username-section {
    margin-left: auto;
    text-align: center;
    margin: 10px;
}

.correct {
    background-color: #44bd32;
}

.inCorrect {
    background-color: #c23616;
}
.hidden {
    display: none;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}