* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background-color:#7fffd4;
}
.app {
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    
}
.app h2 {
    font-weight: bold;
    color: #3867d6;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
    text-align: center;
}

.quiz, .result {
    padding: 10px 0;
}
.quiz h3, .result h3 {
    color: #3867d6;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}
# quiz-section{
    margin: auto;
}
#answerbtn {
    margin-left: 0;
}
.btn {
    background: #e6e1e1;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto 0;
    padding: 10px;
    cursor: pointer;
}
#nextbtn, #restart-btn {
    width: 120px;
    height: 35px;
    background: #3867d6;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 20px auto 0;
    display: none;
}
#result-text{
    text-align: center;
}


.correct {
    background-color: #44bd32;
}

.inCorrect {
    background-color: #c23616;
}
.hidden {
    display: none;
}