* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
   
}
body {
    background-image:  url(assets/Riksdagen2009.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     
}


.app {
    background: #fecc00;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    
    
}
.app h2 {
    font-weight: normal;
    color: #006aa7;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
    text-align: center;
}
#start-btn {
    height: 30px;
    width: 70px;
    border-radius: 5px;
}
#username-input {
    height: 30px;
    background-color: aliceblue;
    padding-left: 5px;
    border-radius: 5px;
}

.quiz, .result {
    padding: 10px 0;
}
.quiz h3, .result h3 {
    color: #006aa7;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}
#quiz-section{
    margin: auto;
}
#answerbtn {
    margin-left: 0;
}
.btn {
    background: #006aa7;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto 0;
    padding: 10px;
    cursor: pointer;
}
#nextbtn, #restart-btn {
    width: 120px;
    height: 35px;
    background: #3867d6;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 20px auto 0;
    display: none;
}
#result-text{
    text-align: center;
}
#username-section {
    margin-left: auto;
    text-align: center;


}

.correct {
    background-color: #44bd32;
}

.inCorrect {
    background-color: #c23616;
}
.hidden {
    display: none;
}